@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@theme {
  --shadow-*: none;
}

/* @layer components {
  .typography {
    p {
      font-size: var(--text-base);
      color: var(--color-gray-700);
    }
    h1 {
      font-size: var(--text-2xl--line-height);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
    h2 {
      font-size: var(--text-xl);
      font-weight: var(--font-weight-semibold);
      color: var(--color-gray-950);
    }
  }
} */

.p-formatted {
  /* color: theme('colors.captions') */
}

/* used for content blocks */
.content {
  /* This function is deprecated, and we recommend using CSS theme variables instead. @todo */
  margin-block-end: theme('spacing.5');

  &--offset {
    padding-inline-start: theme('spacing.6');
    border: 0 solid theme('colors.lines');
    border-left-width: theme('spacing.[0.5]');
    margin-bottom: theme('spacing.5');
    color: theme('colors.accent');
  }
}
