@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.p-formatted {
  /* @todo this seems sus */
  margin-block-end: theme('spacing.5');
  /* color: theme('colors.captions') */
}

.link-inline {
  font-size: inherit;
  line-height: 1.4;
  color: theme('colors.ocean-green.500');
}

/* used for content blocks */
.content {
    margin-block-end: theme('spacing.5');
    
  &--offset {
    padding-inline-start: theme('spacing.6');
    border: 0 solid theme('colors.lines');
    border-left-width: theme('spacing.[0.5]');
    margin-bottom: theme('spacing.5');
    color: theme('colors.accent');
  }
}
