@font-face {
  font-family: 'Verb';
  src: url('~/assets/fonts/Verb-Regular.woff2') format('woff2'),
    url('~/assets/fonts/Verb-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Verb';
  src: url('~/assets/fonts/Verb-Ultra.woff2') format('woff2'),
    url('~/assets/fonts/Verb-Ultra.woff') format('woff');
  font-weight: 950;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('~/assets/fonts/Montserrat-Regular.ttf') format('woff');
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  font-display: swap;
}
